* {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 20px;

  .card {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
