.input-box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 40px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  input {
    border: none;
    border-bottom: 1px dashed gray;
    font-size: 20px;

    &:focus {
      outline: none;
      border-bottom: 1px dashed black;
    }
  }

  &_add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    transition: color 0.3s;

    &.active {
      color: rgb(10, 116, 255);
    }

    color: rgb(80, 80, 80);
    font-weight: bold;
  }
}
